<!-- jQuery 3 -->
<script th:src="@{/js/jquery.min.js}"></script>
<!--select2-->
<script th:src="@{/js/select2/select2.full.min.js}"></script>
<!-- AdminLTE App -->
<script th:src="@{/js/adminlte.min.js}"></script>
<!--bootstrap-->
<script th:src="@{/js/bootstrap.bundle.min.js}"></script>
<script th:src="@{/js/bootstrap.min.js}"></script>
<script th:src="@{/js/bootstrap-colorpicker.min.js}"></script>
<script th:src="@{/js/bootstrap-switch.min.js}"></script>
<!--daterangepicker-->
<script th:src="@{/js/daterangepicker.js}"></script>
<!--dataTable-->
<script th:src="@{/js/jquery.dataTables.min.js}"></script>
<!-- Sweetalert2-->
<script th:src="@{/js/sweetalert2.all.min.js}"></script>







