<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Manager</title>
    <th:block th:include="/userControl/_head"></th:block>
</head>
<body>
<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<!--view-->
<section>
    <div class="col-md-12" style="text-align: center">
        <button type="button" style="font-size: 10em; " id="btnPoint" class="btn btn-primary ">Point</button>
        <button type="button" style="font-size: 10em;  padding-left: 50px;padding-right: 50px;"  id="btnGift"class="btn btn-secondary ">Gift</button>
    </div>
</section>

<!--modal-->
<section>
<!--    Gift-->
    <div class="modal fade bd-example-modal-lg" id="mdSearchGift" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Gift Card Transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form">
                    <div class="modal-body">
                        <div class="form-group row" >
                            <label for="txtGiftCard">Gift Card No.</label>
                            <input type="text" class="form-control" id="" >
                        </div>
                    </div>
                </form>
                <div class="modal-footer">
                    <input type="button" id="btnSearchG" class="btn btn-success"  value="Search">
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bd-example-modal-lg" id="mdGift" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Gift Card Transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form">
                    <div class="modal-body">
                        <div class="form-group row" >
                            <label for="txtGiftCard">Gift Card No.</label>
                            <input type="text" class="form-control" id="txtGiftCard" readonly>
                        </div>
                        <div class="row">
                            <h1>Balance:<spant>$</spant><spant id="spMoney">0</spant></h1>
                        </div>
                        <input type="text" id="idTheGift" hidden>
                    </div>
                </form>
                <div class="modal-footer">
                    <input type="button" id="btnAddGift" class="btn btn-info"  value="Add Money">
                    <input type="button" id="btnPayGift" class="btn btn-warning"  value="Pay with Card">
                </div>
            </div>
        </div>
    </div>
<!--    Point-->
    <div class="modal fade bd-example-modal-lg" id="mdPoint" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" >Point Card Transaction</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form class="form" id="frmPoint">
                    <div class="modal-body">
                        <div class="row">
                            <div class="col-6 col-md-12">
                                <div class="form-group " >
                                    <label for="txtFirstNamePoint">First Name</label>
                                    <input type="text" class="form-control" id="txtFirstNamePoint">
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="form-group " >
                                    <label for="txtLastNamePoint">Last Name</label>
                                    <input type="text" class="form-control" id="txtLastNamePoint">
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="form-group " >
                                    <label for="txtEmailPoint">Email</label>
                                    <input type="text" class="form-control" id="txtEmailPoint">
                                </div>
                            </div>
                            <div class="col-6 col-md-12">
                                <div class="form-group " >
                                    <label for="txtPhonePoint">Phone</label>
                                    <input type="number" class="form-control" onmouseover="this.focus();" id="txtPhonePoint" placeholder="Search Phone">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <h1>Points:<spant id="spPoint">0</spant></h1>
                        </div>
                    </div>
                    <input type="text" id="idThe" hidden>
                </form>
                    <div class="modal-footer">
                        <input type="button" id="btnSearchPoint" class="btn btn-default"  value="Search">
                        <input type="button" id="btnAddPoint" class="btn btn-info"  value="Add Point">
                        <input type="button" id="btnRedeemPoint" class="btn btn-warning"  value="Reddem">
                    </div>

            </div>
        </div>
    </div>
</section>


<th:block th:include="/userControl/_script"></th:block>
<script th:src="@{/js/UserInfoPage.js}"></script>
</body>

</html>